.chat-main
  .main-header
    .main-header__left-box
      .left-box__group
        グループ
        .group__menber
          .menber-name
            menber : sawayu
    .main-header__edit-btm
      Edit
  .messages
    .message
      .message-upper-info
        .talker
          sawayu
        .data
          2019/11/16(Sat) 18:35
      .text
        あいう
  .form
    .input-box
      .new-message
        new message
        .box-image
          %label{class: "image-icon"}
            = icon('fas', 'image')
            %input.file{type: "file"}
    .send
      Send