.side
  .header
    .side-header__box
      .side-header__box__user-name
        ユーザーネーム
      .side-header__box-menu
        .box
          = link_to '#' do
            = icon('fa', 'edit',class: 'icon')
          = link_to '#' do
            = icon('fa', 'cog',class: 'icon')
  .groups
    .group
      .group__name
        グループ名
      .group__message
        あいう