.chat-main{
  width: calc(100vw - 300px);
  float: left;
  box-sizing: border-box;
  .main-header{
    height: 100px;
    padding: 0 40px;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    display: flex;
    .main-header__edit-btm{
      font-size: 16px;
      color: #38aef0;
      margin-top: 28px;
      border: solid 1px #38aef0;
      padding: 0 20px;
      height: 40px;
      line-height: 38px;
    }
    .main-header__left-box{
      .left-box__group{
        font-size: 20px;
        color: #333;
        margin-top: 35px;
        .group__menber{
          .menber-name{
            margin-top: 15px;
            font-size: 12px;
            color: #999999;
            display: flex;
          }
        }
      }
    }
  }
  .messages{
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
    overflow: scroll;
    .message{
      padding-bottom: 40px;
      .message-upper-info{
        margin-bottom: 10px;
        display: flex;
        .talker{
          font-size: 16px;
          coler: #434a54;
        }
        .data{
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      .text{
        font-size: 14px;
        margin-bottom: 10px;
        coler: #434a54;
      }
    }
  }
  .form{
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    width: 100%;
    display: flex;
    .input-box{
      width: 100%;
      .new-message{
        padding: 0 25px 0 10px;
        background-color: white;
        height: 50px;
        color: #434a54;
        display: flex;
        line-height: 50px;
        justify-content: space-between;
        .box-image{
          .image-icon{
            line-height: 54px;
            font-size: 23px;
          }
          .file{
            display: none;
          }
        }
      }
    }
    .send{
      height: 50px;
      width: 100px;
      background-color: #38aef0;
      color: white;
      margin: 0 0 0 15px;
      padding: 0 30px 0px;
      line-height: 47.5px;
      font-size: 18px;
      font-weight: unset;
    }
  }
}