*{box-sizing: border-box;
}
.side{
  color: white;
  width: 300px;
  float: left;
  .header{
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    .side-header__box{
      display: flex;
      width: 100%;
      justify-content: space-between;
      .side-header__box__user-name{
        font-size: 16px;
        font-weight: bold;
      }
      .side-header__box-menu{
        display: flex;
        .box {
          .icon {
            color: white;
          }
          .icon {
            color: white;
          }
        } 
      }
    }
  }
  .groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    .group{
      margin-bottom: 40px;
      .group__name{
        font-size: 15px;
        margin-bottom: 5px;
      }
      .group__message{
        font-size: 11px;
      }
    }
  }
}